@import "../../assets/styles/global.scss";


.login-wrapper {
background-size:cover;
background: url(../../assets/brands/background.png);
  background-size:cover;
  height: 100%;
 position: fixed;  
 display: flex;
  align-items: center;
  width: 100%;
.mobile-header {
  display: none;
border: none;
 
background-color: $white;
@media (max-width: 1024px){
    display: flex;
    background-color: #FFFFFF;
    min-height: unset;
    justify-content: space-between;
    padding: 20px 30px;
    align-items: center;
    box-shadow: 0px 3px 10px #FFFFFF;
    position: sticky;
    border: none;
    z-index: 9;
  }

  .branding {
      img {
          width: 60%;
      }
  }
.navbar {
   background-color: $white;
    height: 64px;
    @media (max-width: 1024px) {
      display: none;
    }
    a {
      color: #0000FF;
    }
        }
  }

  .form-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;

    @media screen and (max-width: 767px){
      align-items: center;
    }

    .logo {
      max-width: 80%;
      margin-bottom: 20px;
    }
    h1 {
      font-size: 50px;
      font-weight: bolder;
      @media screen and (max-width: 767px){
        font-size: 34px;
      }
    }
    p {
      font-size: 28px;
      @media screen and (max-width: 767px){
        font-size: 24px;
      }
    }
  }

.approve{
  font-size: 24px;
}
.resend{
  font-size: 14px;
}
  .card{
    margin-top: 80px;
    margin-bottom: 90px;
       height: 90%;
      
       border: none;
       box-shadow: 0px 3px 25px #00000029;
    
  }

  .cardHeight{
    height:400px;
 
}

  .login-form {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    .card-title {
      font-size: 25px;
      font-weight: bold;
      text-align: center;
    }
    
    .cursorP{
      color: #0056b3;
      cursor: pointer;
    };

    .form-groupverify {
      position: relative;
      margin-bottom: 2rem;
      display: flex;
      flex-direction: row;
       .form-controlverify {
        border: none;
        border-bottom: 1px solid #D6D6D6;
        width:25%;
        border-radius: 0;
        font-size: 20px;
        padding-left: 2rem;
        outline: none;
      }
    }

    .form-group {
      position: relative;
      margin-bottom: 2rem;
      display: flex;
      flex-direction: row;
      
      .imgs {
        width: 18px;
        height: 18px;
        position: absolute;
        top: 12px;
        left: 5px;
        min-width: 20px;
      }
      .orgType {
        width: 25px;
        height: 25px;
        position: absolute;
        top: 12px;
        left: 3px;
        bottom: 0px;
        min-width: 25px;
      }
      .react-tel-input{
        position: absolute;
        left: 44px;
        margin-bottom: 10px;
      }
      .imgsPhone {
        width: 18px;
        height: 18px;
        position: absolute;
        top: 12px;
        left: 5px;
        // padding-right: 10px ;
        margin-right: 15px;
        min-width: 20px;
      }

      .showpassword {
        position: absolute;
        top: 10px;
        right: 5px;
        left: unset;
        z-index: 9;
        cursor: pointer;
      }

      .form-control {
            border: none;
            border-bottom: 1px solid #757575;
            border-radius: 0;
            width: 100%;
            font-size: 20px;
            // padding-left: 3rem;
            outline: none;
            
      
         .custom-dropdown .btn-custom-dropdown {
          font-size: 19px;
          @media (max-width: 1250px) {
            font-size: 19px;
          }
        }
      }

      .form-controlll {
        ::after{
          border-bottom: 2px solid #0093E9;
        }
        width: 74%;
        border: none;
        //border-bottom: 1px solid #D6D6D6;
        //border-radius: 0;
        font-size: 20px;
        //padding-left: 2rem;
        outline: none;
        
        .custom-dropdown .btn-custom-dropdown {
          font-size: 19px;
          @media (max-width: 1250px) {
            font-size: 19px;
          }
        }
      }
    }
    .MuiFormLabel-root.Mui-focused{
      color:#0093E9;
    }

    .forgot-link {
      align-self: flex-end;
      color: #A8A8A8;
      font-size: 14px;
    }

    .checkbox-group {
      span {
        color: #707070;
      }
    }

    .signup-link {
      font-size: 14px;
      color: #707070;
    }
    .form-controllogin {
      width: 83%;
      //padding-left: 3rem;
      
    }
    .form-controll {
      ::after{
        border-bottom: 2px solid #0093E9;
      }
      //border: none;
      //border-bottom: 1px solid #757575;
      //border-radius: 0;
      width: 80%;
      font-size: 20px;
      // padding-left: 3rem;
      outline: none;
  }
}
  .text-danger{
    position:relative;
    left:-45px;
    top:-10px;
    font-size: 15px;
  }
  .text-dangerS{
    color:rgb(216, 9, 9);
    position:relative;
    left:25px;
    top:0px;    
    font-size: 15px;
  }
  .text-dangerO{
    color:rgb(216, 9, 9);
    position:relative;
    right:375px;
    top:40px;
    font-size: 15px;
  }
  .text-dangerON{
    color:rgb(216, 9, 9);
    position:relative;
    right:390px;
    top:40px;
    font-size: 15px;
  }
}
.text-danger-verify{
  color:rgb(216, 9, 9);
  position:relative;
  left:50px;
  top:-90px;    
  font-size: 16px;
}
.border-red{
  color:rgb(216, 9, 9);
}
.or{
  font-weight: 500;
}
.buttonS{
  width:150px;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 2px;
}

