@import "../../assets/styles/global.scss";
.productheading {
  font-size: 2.5vh;
  color: #0093e9;
  font-weight: 600;
  margin-left: -8px;
}
.breadcrumb {
  margin-left: 10px;
}
.modalClass {
  height: 170px;
  width: 185px;
}
.select {
  display: none;
}

.heading {
  text-align: left;
  font: normal bold 15px/7.5px Arial;
  letter-spacing: 1px;
  // color: #01CEEA;
}
.styler {
  font: 13px/3px $roboto;
  text-align: left;
  letter-spacing: 0px;
  padding: 0.5rem;
  list-style: none;
  font-weight: 400;
}

.commonpanle {
  box-shadow: 0px 3px 10px #00000029;
  border-radius: 10px;
  padding: 17px 10px 10px 10px;
  background: #ffffff 0% 0% no-repeat padding-box;
}

.panel {
  .elemens {
    margin-bottom: 0;
  }
  .potext {
    font: 13px/3px $roboto;
  }
  .potexttable {
    font: 11px/13px $roboto;
    padding-right: 20px;
  }
  .poheads {
    color: black;
    font-weight: bold;
  }
  input[type="text"] {
    border-color: #d6f2f5;
    border-radius: 8px;
  }
  .column {
    float: left;
    width: 50%;
    padding: 10px;
    /* Should be removed. Only for demonstration */
  }

  .btn-outline-primary:hover,
  .btn-outline-primary:active {
    background-color: transparent !important;
  }
  ul {
    padding: 0;
    color: black;

    .txn {
      font: 13px/3px $roboto;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 160px;
      @media (max-width: 1346px) {
        font-size: 11px;
        width: 110px;
      }
    }
    .vendor {
      font: 12px/3px $roboto;
    }
    li {
      font: 13px/3px $roboto;
      text-align: left;
      letter-spacing: 0px;
      padding: 0.5rem;
      list-style: none;
      font-weight: 400;
    }
  }
}

.receiveShipment {
  position: relative;
  top: -22px;
  padding-right: 15px;
  padding-left: 45px;
  overflow: hidden;
  @media (max-width: $md) {
    padding-right: 10px;
    padding-left: 10px;
  }

  .form-group,
  .input-group {
    display: flex;

    label {
      color: #707070;
      text-align: center;
      font-size: 14px;
      margin-bottom: 0px;
    }

    .form-control {
      border: none;
      background: transparent;
      border-bottom: 2px solid #d6d6d6;
      border-radius: 0;
      color: #000000;
      font-size: 13.5px;
      flex-basis: 45%;
      flex-grow: inherit;
    }

    @media (min-width: $xl) {
      label {
        font-size: 15px;
        text-align: left;
        margin-bottom: 0px;
        max-width: 33.33333%;
      }

      .form-control {
        border: none;
        background: transparent;
        border-bottom: 2px solid #d6d6d6;
        border-radius: 0;
        color: $black;
        font-weight: 400;
        flex-basis: 65%;
        flex-grow: inherit;
        font-size: 13px;
      }
    }
  }
  input[type="radio"] {
    display: inline;
    margin-left: 20px;
  }
  .commonpanle {
    box-shadow: 0px 3px 10px #00000029;
    border-radius: 10px;
    padding: 17px 10px 10px 10px;
    background: #ffffff 0% 0% no-repeat padding-box;
    margin: 10px;
  }
  .panel {
    .elemens {
      margin-bottom: 0;
    }
    .potext {
      font: 13px/3px $roboto;
    }

    .poheads {
      color: black;
      font-weight: bold;
    }
  }
  .button {
    position: absolute;
    top: 80%;
    left: 77%;
    color: #4a4a4a;
  }
  .button1 {
    position: absolute;
    top: 80%;
    left: 85%;
    color: #4a4a4a;
  }
  .input-group {
    position: relative;
    margin-bottom: 1rem;

    .input-group-append {
      position: absolute;
      right: 0;
      cursor: pointer;
    }
  }
}
.UploadImage {
  width: 200px;
  height: 200px;
  margin: 10px 0px;
}
.quantity-received {
  position: relative;
  bottom: 15px;
  height: 3.5vh;
  width: max-content;
  font-size: 12px;
  margin-top: 0;
  margin-bottom: 0px;
}
.select-placeholder-comment {
  font-size: 14.5px;
  margin-top: 5px;
  margin-left: 1px;
}
.txt-outline {
  border: 1px solid #57c1ff;
  border-radius: 10px;
  padding: 5px 10px 5px 10px;
  margin: -5px 0px 20px 20px;
  font-size: small;
  text-align: center;
  cursor: pointer;
}
.txt-outline:hover {
  background-color: #57c1ff;
  color: white;
}
.cross-img {
  position: relative;
  left: 12.4rem;
  top: -5px;
}
.modal-image {
  height: 170px;
  width: 190px;
}
