@import "../../assets/styles/global.scss";

.header {
  height: 85px;
  background-color: $white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 99;
  box-shadow: 0px 0px 2px #00000029;

  .logo {
    cursor: pointer;
    background-size: contain;
  }

  .branding {
    display: flex;
    padding-left: 30px;
    flex-basis: 70%;
    img {
      width: 300px;
      object-fit: contain;
    }
    @media (min-width: $xl) {
      flex-basis: 75%;
    }

    @media screen and (max-width: 768px) {
      padding-left: 10px;
      flex-basis: 75%;
      justify-content: space-between;
      img {
        width: 80%;
      }
    }

    .mobile-menu {
      display: none;
      @media screen and (max-width: 768px) {
        display: flex;
        font-size: 30px;
        font-weight: 400;
        margin-right: 17px;
        align-items: center;
      }
    }
    h1 {
      font-size: 32px;
      letter-spacing: 3px;
      font-weight: bold;
      margin: 0;

      &:first-child {
        color: $primaryBlue;
      }

      &:nth-child {
        color: $primaryBlue;
      }
    }
  }
  .read {
    text-decoration: "none";
    background-color: #f1eeee;
  }
  .unread {
    text-decoration: "none";
    background-color: #fff;
  }
  .actions {
    //flex-basis: 35%;
    //display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    bottom: 3rem;
    //background: transparent linear-gradient(246deg, $primaryBlue 0%, $skyBlue 100%) 0% 0% no-repeat padding-box;
    border-radius: 0px 0px 0px 100px;
    flex: 1;
    height: 80px;

    .search-form {
      width: 400px;
      position: relative;
      top: 50px;
      right: 32rem;
      display: block;

      @media screen and (max-width: 768px) {
        display: none;
      }
      img {
        position: relative;
        right: -21.9rem;
        bottom: 47px;
        width: 15px;
        opacity: 2;
      }
      .search-field {
        height: 35px;
        background: #ffffff 0% 0% no-repeat padding-box;
        box-shadow: 0px 0px 2px #00000065;
        border-radius: 7px;
        border-width: 1.5px;
        border-color: #0093e9;
        font-size: 12px;
        &::placeholder {
          color: #0093e9;
        }

        // opacity: 0.75;
      }
    }

    .user-info {
      position: relative;
      right: 3rem;
      display: flex;
      align-items: center;
      flex: 1;
      justify-content: flex-end;
      padding-right: 30px;
      color: #0b65c1;
      img {
        max-width: 100%;
      }
      .notifications {
        position: relative;
        right: 2.5rem;
        top: -2.2rem;
        .bellicon-wrap {
          position: relative;
          cursor: pointer;
          font-size: 14px;
          .badge {
            position: absolute;
            top: -28px;
            left: 8px;
            border-radius: 50%;
            color: #fa7923;
            background-color: #fff;
          }
        }
        .slider-menu {
          top: 1rem;
          right: -18rem !important;
          overflow-y: scroll;
          overflow-x: hidden;
          min-width: 360px;
          min-height: 540px !important;
          font-size: 10px;
          padding-top: 0%;
          .nheader {
            display: block;
            margin-block-start: -10px;
            margin-right: -18px;
            margin-left: -18px;
            //justify-content: center;
            padding: 15px 45px 10px 20px;
            position: sticky;
            z-index: 100;
            top: 0px;
          }
          .section {
            display: flex;
            flex-direction: row;
            margin-bottom: -10px;
            margin-top: 25px;
            font-size: 12px;
          }
          .slider-item {
            text-align: center justify;
            white-space: pre-wrap;
            background-color: #fff;
            min-width: 400px;
            margin: 10px 0px -16px -16px;
            padding: 0px 0px 0px 0px;
            font-size: 12px;
            position: relative;
            z-index: 99;
            &:first-child {
              border-top: none;
            }
          }
        }
        @media screen and (max-width: 768px) {
          display: none;
        }
        margin-right: 1.5rem;
        img {
          width: 20px;
        }
      }
      .divider {
        // margin-right: 1rem;
        position: relative;
        left: -2rem;
        bottom: 35px;
        border: 1px solid #d9d9d9;
        background-color: #d9d9d9;
        height: 50px;
        @media screen and (max-width: 768px) {
          display: none;
        }
      }
      .location {
        position: relative;
        right: 1rem;
        bottom: 3rem;
      }

      .locationimg {
        width: 20px;
        position: relative;
        top: -2.2rem;
        right: 0.5rem;
      }

      .userName {
        max-width: 7vw;
        margin-right: 1rem;
        position: relative;
        bottom: 2rem;
        left: 2rem;

        .uname {
          font-size: 10px;
          text-align: right;
          margin: 1px;
          position: relative;
          left: 1.1rem;
        }

        .cname {
          font-size: 14px;
          text-align: right;
          font-weight: 700;
          margin: 0;
          position: relative;
          left: 1.1rem;
        }
        @media screen and (max-width: 768px) {
          display: none;
        }

        .custom-dropdown {
          width: 11vw;
          position: relative;
          right: 2rem;
          flex-basis: 100%;
          display: flex;
          outline: none;
          position: relative;
          small {
            color: $a8Grey;
          }

          .btn-custom-dropdown1 {
            border: none;
            display: flex;
            justify-content: space-between;
            color: #0b65c1;
            flex-basis: 100%;
            outline: none;
            align-items: center;
            font-size: 14px;
            background: transparent;
            text-align: left;
            font-weight: 700;
            &.active {
              color: $primaryBlue;
            }
            .textNeg {
              margin-top: -1.15rem;
            }
          }
          .dropdownImg {
            position: relative;
            right: 2rem;
            margin-left: auto;
            width: 13px;
            margin-right: auto;
          }
          .dropdown-menu {
            height: 70vh;
            width: 300px;
            overflow: auto;
            box-shadow: 0px 3px 10px $grey;
            border-radius: 4px;
            border: none;
            padding: 0.5rem;
            .dropdown-item {
              padding: 0;
              clear: both;
              font-size: 14px;
              cursor: pointer;
            }
            hr {
              border-width: 0.5px;
              margin-top: 5px;
              margin-bottom: 5px;
            }
          }
        }
      }
      .cname1 {
        font-size: 14px;
        text-align: left;
        font-weight: 700;
        margin: 0;
        cursor: pointer;
      }
      @media screen and (max-width: 768px) {
        display: none;
      }

      .userPic {
        position: relative;
        margin-right: 0.5rem;
        bottom: 2rem;
        left: 3rem;
        img {
          width: 40px;
          height: 40px;
          cursor: pointer;
        }
      }
      .userActions {
        img {
          position: relative;
          bottom: 2rem;
          width: 13px;
          cursor: pointer;
          left: 3rem;
        }
      }

      @media screen and (max-width: 768px) {
        padding-right: 10px;
      }
    }
  }
}

.slider-menu {
  // border-radius: 4px;
  // display: flex;
  // flex-direction: column;
  top: 5.6rem;
  right: 1rem !important;
  //left: unset;
  max-width: 10rem;
  height: 8rem;
  text-align: center;
  position: absolute;
  //z-index: 1000;
  background-color: #fff;
  background-clip: padding-box;
  //border: 1px solid rgba(0, 0, 0, 0.15);
  transform: translate3d(0px, 38px, 0px);
  will-change: transform;
  box-shadow: 0px 3px 10px $grey;
  border-radius: 15px;
  padding: 1rem;

  @media screen and (max-width: 768px) {
    right: 0 !important;
  }

  .slider-item {
    overflow: hidden;
    border-top: 1px solid #d6d6d6;
    width: 100%;
    padding: 10px 0;
    font-weight: 400;
    color: #707070;
    font-size: 12px;
    text-align: left;
    white-space: nowrap;
    background-color: transparent;
    cursor: pointer;
    text-decoration: none;

    @media (min-width: $xl) {
      margin: 0.3rem 0;
      padding: 0.25rem 1.5rem;
      font-size: 16px;
    }
  }

  .slider-item-text {
    display: none;
    @media screen and (max-width: 768px) {
      display: block;
    }

    p {
      font-weight: bold;
      margin-bottom: 3px;
    }
  }
}
.slider-menu1 {
  //display: flex;
  //flex-direction: column;
  top: 5.6rem;
  right: 15rem !important;
  //left: unset;
  width: 18rem;
  text-align: center;
  position: absolute;
  //z-index: 1000;
  background-color: #fff;
  background-clip: padding-box;
  //border: 1px solid rgba(0, 0, 0, 0.15);
  transform: translate3d(0px, 38px, 0px);
  will-change: transform;
  box-shadow: 0px 3px 10px $grey;
  border-radius: 15px 15px 15px 15px;
  padding: 1rem;

  @media screen and (max-width: 768px) {
    right: 0 !important;
  }

  .slider-item1 {
    overflow: hidden;
    border-bottom: 1px solid #d6d6d6;
    width: 100%;
    padding: 10px 0;
    font-weight: 400;
    color: #707070;
    font-size: 10px;
    text-align: center;
    white-space: nowrap;
    background-color: transparent;
    cursor: pointer;
    text-decoration: none;

    @media (min-width: $xl) {
      margin: 0.5rem 0;
      padding: 0.25rem 1.5rem;
      font-size: 18px;
    }
  }

  .slider-item-text {
    display: none;
    @media screen and (max-width: 768px) {
      display: block;
    }

    p {
      font-weight: bold;
      margin-bottom: 3px;
    }
  }
}
.triangle-up {
  position: absolute;
  top: 44px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #0093e9;
}
.user-notification-head {
  position: relative;
  top: 1px;
  // left: -40px;
  display: inline;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-align: left;
}
.notification-events {
  font-size: 12px;
  position: relative;
  top: 12.5px;
  color: #084787;
  display: inline;
}
.notification-icons {
  position: relative;
  left: -10px;
  margin: 15px 0px 10px 5px;
  height: 18px;
}
.notif-time {
  position: relative;
  top: -10px;
  left: -85px;
  float: right;
}
.toggle-icon {
  display: block;
  position: relative;
  left: 20.5rem;
  transform: rotate(270deg);
  height: 12px;
  top: 0px;
  margin: -5px 0px 12px 0px;
}
.icon-pad {
  box-shadow: 0px 3px 10px $grey;
  border-radius: 50%;
  background-color: $white;
  margin-right: 1rem;
  height: 35px;
  width: 35px;
}
.no-notification {
  font-size: 14px;
  color: #084787;
  font-weight: 600;
}
.noti-tab {
  position: relative;
  top: 10px;
  font-size: 14px;
  border-bottom: 0px solid #d6d6d6;
  margin-left: -5rem;
  padding-left: 5rem;

  ul {
    li {
      &.nav-item-active {
        font-weight: bolder;
        color: #fff;
        border-bottom: 3px solid #ffab1d;
        //border-radius: 10px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        cursor: pointer;
      }
      a {
        &.nav-link {
          color: #ffab1d;
          font-size: 18px;
          padding-bottom: 0.2rem;
          font-weight: bold;
          background-color: transparent;
          position: relative;
          cursor: pointer;
        }
        &.nav-in {
          color: #fff;
        }
      }
      .tab-text {
        color: #a8a8a8;
        font-weight: bold;
      }
    }
  }
}
.MuiOutlinedInput-notchedOutline {
  border-color: #0b65c1 !important;
  border-radius: 15px !important;
  height: 3.2rem;
}
.MuiInputLabel-root {
  margin: -4px 0px 0px 0px;
  font-size: 14px !important;
}
/* .MuiInputLabel-outlined.MuiInputLabel-shrink {
   //display:none;
} */
.MuiInputBase-input {
  font: inherit;
  color: currentColor;
  width: 100%;
  border: 0;
  //height: 1.1876em;
  margin-left: 10px !important;
  display: block;
  padding: 5px 0 7px !important;
  min-width: 0;
  background: none;
  box-sizing: content-box;
  animation-name: mui-auto-fill-cancel;
  letter-spacing: inherit;
  animation-duration: 10ms;
  -webkit-tap-highlight-color: transparent;
}
.setting-notif-icon {
  float: right;
  position: relative;
  left: 30px;
  top: -22px;
}

.notifications {
  position: relative;
  .bellicon-wrap {
    position: relative;
    cursor: pointer;
    font-size: 14px;
    .badge {
      position: absolute;
      top: -28px;
      left: 8px;
      border-radius: 50%;
      color: #fa7923;
      background-color: #fff;
    }
  }
  .slider-menu {
    top: 1rem;
    right: -18rem !important;
    overflow-y: scroll;
    overflow-x: hidden;
    min-width: 360px;
    min-height: 480px;
    font-size: 10px;
    padding-top: 0%;
    .nheader {
      display: block;
      margin-block-start: -10px;
      margin-right: -18px;
      margin-left: -18px;
      //justify-content: center;
      padding: 15px 45px 10px 20px;
      position: sticky;
      z-index: 100;
      top: 0px;
    }
    .section {
      display: flex;
      flex-direction: row;
      margin-bottom: -10px;
      margin-top: 25px;
      font-size: 12px;
    }
    .slider-item {
      text-align: center justify;
      white-space: pre-wrap;
      background-color: #fff;
      min-width: 400px;
      margin: 10px 0px -16px -16px;
      padding: 0px 0px 0px 0px;
      font-size: 12px;
      position: relative;
      z-index: 99;
      &:first-child {
        border-top: none;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .search-form {
    display: none !important;
  }
  .search-form-active {
    display: block;
  }
}

.search-form {
  width: 400px;
  position: relative;
  @media screen and (max-width: 1280px) {
    width: 370px;
  }
  @media screen and (max-width: 1100px) {
    width: 325px;
  }
  @media screen and (max-width: 768px) {
    display: none;
  }
  img {
    position: relative;
    right: 12px !important;
    bottom: 0 !important;
    width: 15px;
    opacity: 2;
  }
  .search-field {
    height: 35px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 2px #00000065;
    border-radius: 7px;
    border-width: 1.5px;
    border-color: #0093e9;
    font-size: 12px;
    &::placeholder {
      color: #0093e9;
    }

    // opacity: 0.75;
  }
}
.locationimg {
  width: 20px;
}

.uname {
  font-size: 10px;
  text-align: right;
}

.cname {
  font-size: 14px;
  text-align: right;
  font-weight: 700;
}
