@import "../../assets/styles/global.scss";

.Newinventory {
  position: relative;
  top: -22px;
  padding-right: 45px;
  padding-left: 55px;
  //overflow: hidden;
  @media (max-width: $md) {
    padding-right: 10px;
    padding-left: 10px;
  }
  .menu {
    z-index: 1;
    top: 1.9rem;
    right: 1.8rem !important ;
    left: unset;
    max-width: 9rem;
    text-align: center;
    position: absolute;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    transform: translate3d(0px, 38px, 0px);
    will-change: transform;
    box-shadow: 0px 3px 10px $grey;
    border-radius: 0 0 8px 8px;
    padding: 1rem;
    .btn {
      width: 110px;
      height: 30px;
      padding-top: 0.1rem;
    }
  }

  @media screen and (max-width: 768px) {
    right: 0 !important;
  }

  .form-group,
  .input-group {
    display: flex;
    justify-content: space-between;
    align-items: center;

    label {
      color: #707070;
      text-align: left;
      font-size: 20px;
    }

    .form-control {
      border: none;
      background: transparent;
      border-bottom: 2px solid #d6d6d6;
      border-radius: 0;
      // color: #A8A8A8;
      color: $black;
      flex-basis: 65%;
      flex-grow: inherit;
    }
  }

  .input-group {
    position: relative;
    margin-bottom: 1rem;

    .input-group-append {
      position: absolute;
      right: 0;
      cursor: pointer;
    }
  }
  .total {
    color: $OBBlue;
    font: 25px/13px $roboto;
  }
  .value {
    text-align: right;
    color: $black;
    font: 25px/13px $roboto;
  }
  .table {
    .overflow {
      height: 100%;
      overflow: auto;
      min-height: 200px;
    }
  }
}

.inventorypopup {
  .data {
    font: 16px/27px $roboto;
    color: #707070;
  }

  .error {
    font: 22px/36px $roboto;
    color: #707070;
  }

  .alert {
    font: 25px/0.1px $roboto;
    color: #000000;
  }
}
.import-disable-button {
  &:disabled {
      cursor: not-allowed;
  }
}
.file-name{
  position: absolute;
  bottom: 16%;
  width: 100%;
  text-align: center;
}

.btn-custom-dropdown {
  justify-content: space-around !important;
  span {
    font-size: 1rem;
    // opacity: 0.5;
  }
}

.excelpopup {
  .upload {
    height: 200px;
    width: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px dashed #707070;
    border-radius: 8px;
  }
}

.css-1hb7zxy-IndicatorsContainer {
  border: 0;
}

.Newinventory {
  padding-bottom: 150px;
}
