@import "../../assets/styles/global.scss";

.batchexpiry {
  padding-right: 3rem;
  padding-left: 5rem;
  @media (max-width: $md) {
    padding-right: 10px;
    padding-left: 10px;
  }
  .breadcrumb {
    position: relative;
    top: -10px;
    left: -35px;
  }

  .full-width-ribbon {
    position: absolute;
    left: 0;
    right: 0;
    background-color: #eaeaea;
    .filter {
      margin-left: 9rem;
      margin-right: 3.5rem;
    }
  }

  .rounded {
    border-radius: 15px !important;
  }

  .ribbon-space {
    margin-top: 4rem;
  }

  .txt {
    font-weight: 600;
    font-size: small;
  }
  .fieldVals {
    font-size: 14px;
    align-self: center;
    overflow: hidden;
  }
  .txtBlue {
    color: #0093e9;
  }

  .bg-grey {
    background-color: #d6d6d6 !important;
  }

  .active {
    box-shadow: 0px 3px 6px $grey;
    background-color: #d6d6d6 !important;
  }

  .font-small {
    font-size: small;
  }

  .panel {
    // box-shadow: 0px 3px 6px $grey;
    border-radius: 15px;
    background-color: $white;
    cursor: pointer;
    padding: 20px 20px 5px 22px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    // -ms-flex: 0 0 18%;
    // flex: 0 0 18%;
    // max-width: 18%;
    // height: 35vh;
    overflow: hidden;

    text-align: center;
    text-align: -webkit-center;

    & > .d-flex {
      margin-top: 5px;
    }

    @media screen and (max-width: 768px) {
      border-right: none;
      justify-content: flex-start;
    }

    @media (max-width: $lg) {
      &:nth-child(2) {
        margin-right: 0;
      }
    }

    .txt-outline {
      border: 1px solid #57c1ff;
      border-radius: 10px;
      padding: 0.2rem;
      margin: 0.2rem;
      font-size: small;
      text-align: center;
    }

    &:last-child {
      margin-right: 0;
    }

    .picture {
      width: 50px;
      height: 50px;
      box-shadow: 0px 3px 6px #00000029;
      // border-radius: 50%;
      justify-content: center;
      align-items: center;
      margin-right: 15px;
      display: flex;

      @media (min-width: $xl) {
        width: 60px;
        height: 60px;
      }

      img {
        width: 40px;
        height: 25px;
      }

      &.truck-bg {
        background: #e8f4f8;
      }

      &.sent-bg {
        background: #d4ebf2;
      }

      &.recived-bg {
        background: #fff2e5;
      }

      &.transit-bg {
        background: $C0Blue;
      }
    }

    .tab-container {
      display: flex;
      justify-content: space-between;
      .tab-item {
        font-size: 8px;
        color: #707070;
        margin-right: 3px;
        cursor: pointer;
      }
      .tab-item:hover {
        border-bottom: 2px solid black;
        color: rgb(0, 0, 0);
        font-size: 10px;
      }
    }

    .title {
      font-size: 13px;
      line-height: 8px;
      font-weight: bold;
      color: #707070;
      margin-bottom: 8px;
      @media (min-width: $xl) {
        font-size: 14px;
      }
      @media (min-width: $sm,$md,$lg) {
        font-size: 12px;
      }
    }

    .count {
      font-size: 26px;
      margin-top: 12px;
      font-weight: bold;
      color: #2ba3ae;
    }

    .dayStatus {
      font-size: 9px;
      align-self: flex-end;
      color: $black;
    }

    &:after {
      border: 1px solid $lightGrey;
      height: 50px;
    }

    .truck-text {
      color: #2ba3ae;
    }

    .sent-text {
      color: #0093e9;
    }

    .recived-text {
      color: $darkYellow;
    }

    .transit-text {
      color: $deepBlue;
    }
  }
}
.sm-btn {
  height: 30px;
  font-size: 13px;
  background: #fff;
}
