@import "../../assets/styles/global.scss";

.updateStatus {
  position: relative;
  top: -22px;
  padding-right: 1rem;
  padding-left: 4.5rem;
  //overflow:hidden;
  @media (max-width: $md) {
    padding-right: 10px;
    padding-left: 10px;
  }
  .custom-control {
    min-height: 0;
  }
  .cargoLabels {
    align-self: center;
    min-width: 200px;
  }
  div[disabled] {
    pointer-events: none;
    opacity: 0.7;
  }
  .breadcrumb {
    position: relative;
    left: -25px;
  }
  .browse {
    display: flex;
    align-items: center;
  }
  .upload {
    // height:200px;
    // width:350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px dashed #707070;
    border-radius: 8px;
    box-shadow: 0px 3px 10px #00000029;

    .select {
      display: none;
    }
  }
  .form-group,
  .input-group {
    display: flex;
    justify-content: space-between;
    align-items: center;

    label {
      color: #707070;
      text-align: center;
      font-size: 14px;
      margin-bottom: 0px;
    }

    .form-control {
      border: none;
      background: transparent;
      border-bottom: 2px solid #d6d6d6;
      border-radius: 0;
      color: #000000;
      flex-basis: 65% !important;
      flex-grow: inherit;
      font-size: 14px;
    }

    @media (min-width: $xl) {
      label {
        font-size: 15px;
        flex-basis: 100%;
        flex-grow: inherit;
        text-align: left;
        margin-bottom: 0px;
      }

      .form-control {
        border: none;
        background: transparent;
        border-bottom: 2px solid #d6d6d6;
        border-radius: 0;
        color: $black;
        flex-basis: 100%;
        flex-grow: inherit;
        font-size: 15px;
      }
    }
  }
  input[type="radio"] {
    display: inline;
    margin-left: 20px;
  }
  .commonpanle {
    box-shadow: 0px 3px 10px #00000029;
    border-radius: 10px;
    padding: 1rem 2rem;
    background: #ffffff 0% 0% no-repeat padding-box;
    margin: 0.5rem;
  }
  .panel {
    .elemens {
      margin-bottom: 0;
    }
    .potext {
      font: 13px/3px $roboto;
    }

    .poheads {
      color: black;
      font-weight: bold;
    }
  }

  .input-group {
    position: relative;
    margin-bottom: 1rem;

    .input-group-append {
      position: absolute;
      right: 0;
      cursor: pointer;
    }
  }
  .text-danger-US {
    color: rgb(216, 9, 9);
    position: relative;
    right: 5rem;
    top: -10px;
    font-size: 15px;
  }
  input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
  }
}

.comment-active {
  background: $primaryBlue;
  color: #fff;
}
.fade-color{
  background: rgba(0, 0, 0, 0.10) !important;
}
