@import "../../assets/styles/global.scss";

.login-wrapper {
  background-size: cover;
  background: url(../../assets/brands/background.png);
  background-size: cover;
  height: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  width: 100%;
  .MuiInputBase-input {
    margin-left: 0px !important;
  }
  .mobile-header {
    display: none;
    border: none;

    background-color: $white;
    @media (max-width: 1024px) {
      display: flex;
      background-color: #ffffff;
      min-height: unset;
      justify-content: space-between;
      padding: 20px 30px;
      align-items: center;
      box-shadow: 0px 3px 10px #ffffff;
      position: sticky;
      border: none;
      z-index: 9;
    }

    .branding {
      img {
        width: 60%;
      }
    }
    .navbar {
      background-color: $white;
      height: 64px;
      @media (max-width: 1024px) {
        display: none;
      }
      a {
        color: #0000ff;
      }
    }
  }

  .form-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;

    @media screen and (max-width: 767px) {
      align-items: center;
    }
  }
  .card {
    margin-top: 60px;
    //margin-bottom: 109px;
    width: 110%;
    height: 75%;
    border: none;
    box-shadow: 0px 3px 25px #00000029;
    border-radius: 15px;
  }
  .login-form {
    //box-sizing: border-box;
    //display: flex;
    //flex-direction: column;

    .card-title {
      font-size: 30px;
      font-weight: bold;
      text-align: center;
    }

    .cursorP {
      color: #0056b3;
      cursor: pointer;
    }

    .form-groupverify {
      position: relative;
      margin-bottom: 2rem;
      display: flex;
      flex-direction: row;
      .form-controlverify {
        border: none;
        border-bottom: 1px solid #d6d6d6;
        width: 25%;
        border-radius: 0;
        font-size: 20px;
        padding-left: 2rem;
        outline: none;
      }
    }

    .form-group {
      position: relative;
      margin-bottom: 1.5rem;
      display: flex;
      flex-direction: row;
      width: 106.5%;

      .imgs {
        width: 18px;
        height: 18px;
        position: absolute;
        top: 12px;
        left: 5px;
        min-width: 20px;
      }
      .orgType {
        width: 25px;
        height: 25px;
        position: absolute;
        top: 14px;
        left: 3px;
        bottom: 0px;
        min-width: 25px;
      }
      .react-tel-input {
        width: 365px;
        height: 30px;
        position: absolute;
        left: 42px;
        margin-bottom: 10px;
      }
      .imgsPhone {
        width: 20px;
        height: 20px;
        position: absolute;
        top: 12px;
        left: 5px;
        // padding-right: 10px ;
        margin-right: 15px;
        min-width: 20px;
      }

      .showpassword {
        position: absolute;
        top: 10px;
        right: 5px;
        left: unset;
        z-index: 9;
        cursor: pointer;
      }

      .form-control {
        //border: none;
        border-bottom: 1px solid #757575;
        border-radius: 0;
        width: 95%;
        font-size: 16px;

        // padding-left: 3rem;
        outline: none;

        .custom-dropdown .btn-custom-dropdown {
          font-size: 19px;
          @media (max-width: 1250px) {
            font-size: 19px;
          }
        }
      }
      .form-control2 {
        //border: none;
        border-bottom: 2px solid #0093e9;
        border-radius: 0;
        width: 150px;
        font-size: 16px;

        // padding-left: 3rem;
        outline: none;

        .custom-dropdown .btn-custom-dropdown {
          font-size: 19px;
          @media (max-width: 1250px) {
            font-size: 19px;
          }
        }
      }

      .form-control-login {
        width: 100%;
        border: none;
        border-bottom: 1px solid #d6d6d6;
        border-radius: 0;
        font-size: 20px;
        padding-left: 1.5rem;
        outline: none;

        .custom-dropdown .btn-custom-dropdown {
          font-size: 19px;
          @media (max-width: 1250px) {
            font-size: 19px;
          }
        }
      }
    }

    .forgot-link {
      align-self: flex-end;
      color: #a8a8a8;
      font-size: 14px;
    }

    .checkbox-group {
      span {
        color: #707070;
      }
    }

    .signup-link {
      font-size: 14px;
      color: #707070;
    }
  }
}

.Organisation-type-msg{
  position: absolute;
  left: 0;
  bottom: -5px;
  font-size: 13px;
  color:#0093e9;
}
